{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'nav.html' %}

<div id="inbox-view" class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Inbox</h3>
    
    <button
      id="btn-refresh-inbox"
      type="button"
      class="btn btn-primary d-flex align-items-center gap-2"
      style="height: fit-content"
    >
      <div id="refresh-icon">
        <i class="bi bi-arrow-clockwise"></i>
      </div>
      <span> Refresh</span>
    </button>
  </div>

  <div id="emails-list"></div>
</div>

<div id="email-view" class="container"></div>

{% endblock %}
{% block script %}
<script type="module" src='{% static "js/inbox.js" %}'></script>
{% endblock %}
