<div class="container">
  <h2>{{ request.user.email }}</h2>

  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <a href="{% url 'compose' %}" class="btn btn-danger" id="compose">
        <i class="fas fa-plus-square"></i> Compose
      </a>
    </div>

    <div class="d-flex gap-2" style="height: fit-content;">
      <a
        href="/"
        class="btn btn-sm btn-outline-info"
        id="inbox"
      >
        <i class="fas fa-inbox"></i> Inbox
      </a>

      <a href="{% url 'sent' %}" class="btn btn-sm btn-outline-info" id="sent">
        <i class="fas fa-paper-plane"></i> Sent
      </a>

      <!-- <button class="btn btn-sm btn-outline-info" id="archived">
        <i class="fas fa-folder-open"></i> Archived
      </button> -->

      <a href="{% url 'security' %}" class="btn btn-sm btn-outline-info" id="sent">
        <i class="fas fa-shield-alt"></i> Security
      </a>
    </div>

    <span class="ms-5">
      <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">
        <i class="fas fa-sign-out-alt"></i> Log Out
      </a>
    </span>
  </div>
  <hr />
</div>
