{% extends 'base.html' %} {% load static %} {% block body %}
{% include 'nav.html' %}

<div id="sent-view" class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Sent</h3>
    
    <button
      id="btn-refresh-inbox"
      type="button"
      class="btn btn-primary d-flex align-items-center gap-2"
      style="height: fit-content"
    >
      <div id="refresh-icon">
        <i class="bi bi-arrow-clockwise"></i>
      </div>
      <span> Refresh</span>
    </button>
  </div>
  
  <div id="emails-list"></div>
</div>

{% endblock %} {% block script %}
<script src='{% static "js/sent.js" %}'></script>
{% endblock %}
